{% extends "django/contrib/admin/templates/registration/password_change_form.html" %}
{% load i18n static %}
{% load url from future %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/x-scss" 
      href="{{STATIC_URL}}common/admin/css/forms.scss" />
{% endblock css %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &lsaquo; <a href="{{ROOT_URL}}">{% trans "Back to site" %}</a> |
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}
