{% extends "base.html" %}

{% block title%}Chicago Energy Database Prototype{% endblock title%}

{% block js %}
{{block.super}}
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/jquery.min.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/threejs/Stats.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/d3/d3.v2.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/threejs/three.min.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/threejs/d3-threeD.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}main/colorbrewerChi.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/TweenLite.min.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}common/js/lib/easing/EasePack.min.js"></script>
<script type="text/javascript" language = "javascript"
    src="{{STATIC_URL}}main/jquery.fancybox.pack.js"></script>
<script type="text/javascript"
    src="{{STATIC_URL}}common/js/lib/underscore-min.js">
</script>

{% endblock js %}


{% block css %}
{{block.super}}
<link rel="stylesheet" 
      type="text/css" 
      media="screen"
      href="{{STATIC_URL}}main/dummy.css" />
<link rel="stylesheet" 
      type="text/css" 
      media="screen"
      href="{{STATIC_URL}}main/app.css" />
<link rel="stylesheet" 
      type="text/css" 
      media="screen"
      href="{{STATIC_URL}}main/gmap.css" />
<link rel="stylesheet" 
      type="text/css" 
      media="screen"
      href="{{STATIC_URL}}main/jquery.fancybox.css" />
<link rel="stylesheet" 
      type="text/x-scss" 
      media="screen"
      href="{{STATIC_URL}}main/css/login_form.scss" />
{% endblock css %}
{% block content %}
<!--     <div id="main_container"></div>-->
  <!-- three.js scene -->
  <div id="container"></div>

  <!-- wrapper for ui -->
  <div id="wrapper">

    <div id="branding"></div>

    <!-- search/input field -->
    

    <!-- footer -->
    <div id="footer">
      <a href="#">ABOUT THIS PROJECT</a>&nbsp; &nbsp; |&nbsp; &nbsp;
      <a href="#">ENERGY EFFICIENCY TIPS</a>&nbsp; &nbsp; |&nbsp; &nbsp;
      <a href="#">LEAERBOARD</a>&nbsp; &nbsp; |&nbsp; &nbsp;
      <a href="#">CREDITS</a>
    </div>

  </div> <!-- end wrapper for ui -->


<div id="overlay">
    
    <div id="about">
      
      <div class="overlayHeader">
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        ABOUT THE MAP&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">
      </div>

      <div class="overlayCopy">
        <p>The <b>Chicago Energy Data Map</b> is a visualization of all residential natural gas and electric energy use — both by neighborhood and by census block — for the City of Chicago in 2010. The height of each neighborhood or census block indicates electric energy consumption while the color is indicative of natural gas consumption.</p>

        <p>The purpose of this visualization is to allow the viewer both a bird's eye view, as well as a neighborhood detail view, of energy consumption patterns in one of our nation's largest cities. Further, users can review energy efficiency tips and Chicagoans can pledge to make improvements to the efficiency of their homes on behalf of their respective neighborhoods.</p>

        <p>This project is a collaborative effort between the <a href="https://www.cityofchicago.org/" target="_blank">City of Chicago</a>, the <a href="http://www.ccachicago.org/" target="_blank">Civic Consulting Alliance</a>, <a href="http://datascopeanalytics.com/" target="_blank">DataScope Analytics</a> and <a href="http://www.ideo.com/" target="_blank">IDEO</a> with support from <a href="http://www.accenture.com/" target="_blank">Accenture</a>, <a href="https://www.comed.com/" target="_blank">ComEd</a> and <a href="http://www.peoplesenergy.com/" target="_blank">People's Gas</a>. The Chicago Energy Data Map is part of Mayor Rahm Emanuel's Retrofit Chicago initiative.</p>

        <p><i>Note: All data was analyzed at the census block and neighborhood level to protect the privacy of Chicago residents.</i></p>
      </div>

      <div class="closeButton" id="closeButtonAbout">✖</div>

    </div><!-- ./end about -->

    <div id="credits">
      
      <div class="overlayHeader">
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        CREDITS&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">
      </div>

      <div class="overlayCopy">
        <p><b>DataScope Analytics</b><br>
        Concept, Data Vizualization & Analytics</p>
        <br>
        <p><b>IDEO</b><br>
        Concept, Data Visualization, Art Direction & Design</p>
      </div>

      <div class="closeButton" id="closeButtonCredits">✖</div>

    </div><!-- ./end about -->

  </div><!-- ./end overlay -->



  <!-- begin chrome frame stuff -->
   <style>
    /*
     CSS rules to use for styling the overlay:
       .chromeFrameOverlayContent
       .chromeFrameOverlayContent iframe
       .chromeFrameOverlayCloseBar
       .chromeFrameOverlayUnderlay
    */
   </style>
   <!-- end chrome frame stuff -->


{% endblock content %}

{% block dynamic_javascript %}
{{block.super}}

<script type="text/javascript">
  {% include "main/button.js" %}
</script>

{% endblock dynamic_javascript %}
