<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chicago Energy Database Prototype</title>

  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

  <link rel="stylesheet" href="css/app.css">

</head>
<body>

  <!-- three.js scene -->
  <div id="container"></div>

  <!-- wrapper for ui -->
  <div id="wrapper">

    <div id="key"></div>

    <div id="branding"></div>

    <!-- search/input field -->
    <div id="search">
      <input type="text" name="name" id="textEntry" placeholder="ENTER ADDRESS OR NEIGHBORHOOD" />
      <button id="searchButton" type="submit" value="">
        <img src="img/searchIcon.png" alt="">
      </button>
    </div>

    <!-- tooltips -->
    <div id="rolloverTip" class="tooltip">
      <div id="tipHeader">
        <span id="neighborhoodText">new city</span>
      </div>
      <div id="tipSubHead">position</div>
      <div id="tipGasRank">
        <span id="rankHeaderTitle">GAS</span>
        <div id="tipGasRankText">12/90</div>
      </div>
      <div id="tipElectricRank">
        <span id="rankHeaderTitle">ELECTRIC</span>
        <div id="tipElectricRankText">12/90</div>
      </div>
      <div id="detailText">• CLICK FOR DETAIL •</div>
      <div id="rolloverCarrot" class="carrot"></div>
    </div>

    <br>

    <!-- 

    <div id="autoTip" class="tooltip">
      logan square
      <div id="autoCarrot" class="carrot"></div>
    </div>

    <br>
    
    <div id="neighborhoodStatsDetail">
      <div id="statsHeader">4700 - 4815 RACINE AVE., NEW CITY</div>
      <div id="statsSubHead">AVERAGE ENERGY USE</div>
    </div>
     -->

    <!-- footer -->
    <div id="footer">
      <a id="aboutButton" href="#">ABOUT THIS PROJECT</a>&nbsp; &nbsp; |&nbsp; &nbsp;
      <a id="energyEfficiencyButton" href="#">ENERGY EFFICIENCY TIPS</a>&nbsp; &nbsp; |&nbsp; &nbsp;
      <a id="leaderboardButton" href="#">LEAERBOARD</a>&nbsp; &nbsp; |&nbsp; &nbsp;
      <a id="creditsButton" href="#">CREDITS</a>
    </div>

  </div> <!-- end wrapper for ui -->

  <div id="overlay">
    
    <div id="about">
      
      <div class="overlayHeader">
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        ABOUT THE MAP&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">
      </div>

      <div class="overlayCopy">
        <p>The <b>Chicago Energy Data Map</b> is a visualization of all residential natural gas and electric energy use — both by neighborhood and by census block — for the City of Chicago in 2010. The height of each neighborhood or census block indicates electric energy consumption while the color is indicative of natural gas consumption.</p>

        <p>The purpose of this visualization is to allow the viewer both a bird's eye view, as well as a neighborhood detail view, of energy consumption patterns in one of our nation's largest cities. Further, users can review energy efficiency tips and Chicagoans can pledge to make improvements to the efficiency of their homes on behalf of their respective neighborhoods.</p>

        <p>This project is a collaborative effort between the <a href="https://www.cityofchicago.org/" target="_blank">City of Chicago</a>, the <a href="http://www.ccachicago.org/" target="_blank">Civic Consulting Alliance</a>, <a href="http://datascopeanalytics.com/" target="_blank">DataScope Analytics</a> and <a href="http://www.ideo.com/" target="_blank">IDEO</a> with support from <a href="http://www.accenture.com/" target="_blank">Accenture</a>, <a href="https://www.comed.com/" target="_blank">ComEd</a> and <a href="http://www.peoplesenergy.com/" target="_blank">People's Gas</a>. The Chicago Energy Data Map is part of Mayor Rahm Emanuel's Retrofit Chicago initiative.</p>

        <p><i>Note: All data was analyzed at the census block and neighborhood level to protect the privacy of Chicago residents.</i></p>
      </div>

      <div class="closeButton" id="closeButtonAbout">✖</div>

    </div><!-- ./end about -->

    <div id="credits">
      
      <div class="overlayHeader">
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        CREDITS&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">&nbsp; &nbsp;
        <img src="img/chiStar.png" alt="">
      </div>

      <div class="overlayCopy">
        <p><b>DataScope Analytics</b><br>
        Concept, Data Vizualization & Analytics</p>
        <br>
        <p><b>IDEO</b><br>
        Concept, Data Visualization, Art Direction & Design</p>
      </div>

      <div class="closeButton" id="closeButtonCredits">✖</div>

    </div><!-- ./end about -->

  </div><!-- ./end overlay -->




  <!-- begin chrome frame stuff -->
   <style>
    /*
     CSS rules to use for styling the overlay:
       .chromeFrameOverlayContent
       .chromeFrameOverlayContent iframe
       .chromeFrameOverlayCloseBar
       .chromeFrameOverlayUnderlay
    */
   </style>
   <!-- end chrome frame stuff -->




   <script>
    window.onload=function(){
      CFInstall.check({
        mode: "overlay",
        destination: "/index.html?user=true"
      });
    }
   </script>

  <!-- ./end chrome frame stuff -->

  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <script src="js/lib/Stats.js"></script>
  <script src="js/lib/d3.v2.min.js"></script>
  <script src="js/lib/three.min.js"></script>
  <script src="js/lib/d3-threeD.js"></script>
  <script src="js/colorbrewerChi.js"></script>
  <script src="js/lib/jquery-1.8.0.min.js"></script>
  <script src="js/lib/underscore-1.3.3-min.js"></script>
  <script src="js/lib/TweenLite.min.js"></script>
  <script src="js/lib/easing/EasePack.min.js"></script>

  <!-- <script src="js/ward.js"></script> -->
  <!-- <script src="js/census_tract.js"></script> -->
  <script src="js/neighborhood_new.js"></script>
  <script src="js/near_west_side.js"></script>

  <script src="js/app.js"></script>
  

  <!-- KILL THIS BEFORE LAUNCH!!!!!! -->

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>

</html>