
/* @import "common/static/common/css/_fonts.scss"; */

/* @include NewsCycleRegular("../../common/static/css/fonts"); */
/* @include LeagueGothicRegular("../../common/static/css/fonts"); */

$headline_font: UnifrakturMaguntia, serif;
$body_font: Vollkorn, serif;

$background_color: rgb(228, 223, 212);
$background_image: url(../../main/img/newspaper.png);
