/* GLOBAL STYLES */

* {
  margin: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: #555;
  font-size: 16px;
  line-height: 140%;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 20px 0;
}

*:focus { outline: none; }

* {
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

#startButton {
  position: absolute;
  z-index: 5000;
  left: 55%;
  bottom: 50%;
  background-color: #c1c1c1;
  font-size: 20px
  font-weight: bold;
  color: #FFF;
  height: 35px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  -webkit-transition: all .0625 ease-out;
  -moz-transition: all .0625 ease-out;
  -ms-transition: all .0625 ease-out;
  -o-transition: all .0625 ease-out;
  transition: all .0625 ease-out;
}

#startButton:hover {
  background-color: #999;
}

#startButton:active {
  background-color: #ea283b;
}

.nowrap {
  white-space: nowrap;
}

#wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  z-index: 100;
/*  visibility: hidden;*/
}

#container {
  
}

.grayscaleAndLighten {
  -webkit-filter: grayscale(100%) contrast(150%); /* killed brightness(600%) */
  -moz-filter: grayscale(100%) contrast(150%);
  -ms-filter: grayscale(100%) contrast(150%);
  -o-filter: grayscale(100%) contrast(150%);
  filter: grayscale(100%) contrast(150%);
  opacity: .25;
}

/* HEADER */

#branding {
  margin: 0 auto;
  width: 503px;
  height: 142px;
  margin-top: 36px;
  background: url(../img/branding.png) no-repeat;
}

/* KEY */

#key {
  position: fixed;
  width: 200px;
  height: 199px;
  top: 20px;
  left: 20px;
  background: url(../img/key.png) no-repeat;
}

/* INPUT FIELD */

#search {
  margin: 0 auto;
  width: 450px;
  height: 64px;
  margin-top: 20px;
  font-size: 16px;
  color: #707070;
  background: url(../img/locationPin.png) no-repeat;
  background-color: #FFF;
}

#search input, #search textarea {
  background: none;
  padding-left: 55px;
  padding-right: 65px;
  width: 330px;
  height: 60px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #c8c8c8;
  /*  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; */
  border-radius:2px;
  text-transform: uppercase;
}

#search input:focus, #search textarea:focus {
  color: #444;
  -webkit-box-shadow: 0 0 6px rgba(27,167,224,.3);
  -moz-box-shadow: 0 0 6px rgba(27,167,224,.3);
  box-shadow: 0 0 6px rgba(27,167,224,.3);
  border: solid 1px #1ba7e0;
}

#search input, search textarea:-moz-placeholder {
  font-size: 16px;
  color: #707070;
}

#search input, search textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #707070;
}

#searchButton {
  position: relative;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 62px;
  left: 401px;
  top: -63px;
  background: #1ba7e0; /* Old browsers */
  background: -moz-linear-gradient(top,  #1ba7e0 0%, #11749c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ba7e0), color-stop(100%,#11749c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1ba7e0 0%,#11749c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1ba7e0 0%,#11749c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1ba7e0 0%,#11749c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1ba7e0 0%,#11749c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ba7e0', endColorstr='#11749c',GradientType=0 ); /* IE6-9 */
  -webkit-filter: brightness(115%);
  -moz-filter: brightness(115%);
  -ms-filter: brightness(115%);
  -o-filter: brightness(115%);
  filter: brightness(115%);
}

#searchButton:hover {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -ms-filter: brightness(100%);
  -o-filter: brightness(100%);
  filter: brightness(100%);
}

#searchButton:active {
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -o-filter: brightness(130%);
  filter: brightness(130%);
  /* override .25 second transition on click */
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

/* TOOLTIPS */

.tooltip {
  border-style: solid;
  border-width: 2px;
  border-color: #ea283b;
  background-color: #FFF;
  font-size: 16px;
  color: #888888;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
}

#rolloverTip {
  position: absolute;
  left: -200px;
  display: inline-block;
  min-width: 150px;
  padding: 12px;
  padding-bottom: 0px !important;
  line-height: 100%;
  visibility: hidden;
}

#tipHeader {
  margin-top: -5px;
  height: 32px;
  color: #1ba7e1;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px dotted #CCC;
}

#tipSubHead {
  position: relative;
  width: 80px;
  top: -16px;
  margin: 0 auto;
  color: #FFF;
  background-color: #666;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  border-style: solid;
  border-width: 4px;
  border-color: #FFF;
  text-transform: uppercase;
}

#tipGasRank {
  position: relative;
  margin-top: -12px;
  float: left;
  width: 48%;
  height: 44px;
  border-right: 2px dotted #CCC;
  text-align: center;
}

#tipElectricRank {
  margin-top: -12px;
  position: relative;
  width: 50%;
  float: right;
  height: 44px;
  text-align: center;
}

#rankHeaderTitle {
  font-size: 11px;
  font-weight: bold;
  color: #333;
}

#detailText {
  display: inline-block;
  height: 18px;
  margin-top: 6px;
  padding-top: 4px;
  border-top: 2px dotted #CCC;
  width: 120px;
}

#autoTip {
  position: relative;
  width: 150px;
  padding-top: 4px;
}

.carrot {
  position: relative;
  width: 7px;
  height: 4px;
  background: url(../img/tooltipCarrot.png) no-repeat left bottom;
}

#rolloverCarrot {
  top: 6px;
  left: 10px;
}

#autoCarrot {
  top: 6px;
  left: 10px;
}

#detailText {
  font-size: 10px
}

/* NEIGHBORHOOD DETAIL */

#neighborhoodStatsDetail {
  position: relative;
  width: 466px;
  height: 346px;
  border-style: solid;
  border-width: 2px;
  border-color: #ea283b;
  background-color: #FFF;
  text-align: center;
  padding: 20px;
}

#statsHeader {
  height: 46px;
  color: #1ba7e1;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px dotted #CCC;
}

#statsHeader::selection { background:#1ba7e1; color:#fff }
#statsHeader::-moz-selection { background:#1ba7e1; color:#fff }

#statsSubHead {
  position: relative;
  top: -19px;
  margin: 0 auto;
  width: 200px;
  color: #FFF;
  background-color: #666;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
  border-style: solid;
  border-width: 4px;
  border-color: #FFF;
}

#statsSubHead::selection { background:#FFF; color:#666 }
#statsSubHead::-moz-selection { background:#FFF; color:#666 }

#gasViz {
  position: relative;
  float: left;
  width: 50%;
  background-color: #FFB;
}

#electricViz {
  position: relative;
  width: 50%;
  float: right;
  background-color: #FF0;
}


/* FOOTER */

#footer {
  position: fixed;
  width: 100%;
  height: 38px;
  bottom: 0;
  background-color: #545454;
  color: #CCC;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-top: 17px;
}

#footer a {
  color: #CCC;
}

#footer a:hover {
  color: #FFF;
}

#footer::selection { background:#333; color:#fff }
#footer::-moz-selection { background:#333; color:#fff }

#footer a::selection { background:#333; color:#fff }
#footer a::-moz-selection { background:#333; color:#fff }

/* OVERLAY PAGES */

#overlay {
  background: #FFF;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

#about {
  position: relative;
  width: 503px;
  top: 32px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
}

#credits {
  position: relative;
  width: 503px;
  top: -493px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
}

.overlayHeader {
  height: 36px;
  color: #1ba7e1;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px dotted #CCC;
  text-align: center;
  margin-bottom: 11px;
}

.overlayCopy a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px #666 dotted;
  -webkit-transition: all .125s ease-out;
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

.overlayCopy a:hover {
  color: #FFF;
  background: #666;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 0px #666 dotted;
}

.overlayCopy i {
  font-size: 13px;
  font-weight: bold;
  line-height: 0%;
}

.closeButton {
  color: #666;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
  right: -60px;
  border-style: solid;
  border-width: 2px;
  border-color: #ea283b;
  padding-left: 9px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 14px;
}

.closeButton:hover {
  color: #333;
}

#leaderboard {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 110;
  opacity: 0;
  visibility: hidden;
}

#leaderboardContent {
  position: relative;
  width: 503px;
  top: 32px;
  margin: 0 auto;
  z-index: 51;
}

#board {
  line-height: 180%;
}

#neighborhoodHeader {
  float: left;
  font-weight: bold;
  font-size: 14px;
}

#pledgesHeader {
  float: right;
  font-weight: bold;
  font-size: 14px;
}

#board {
  margin-top: 40px;
}

#board li {
  margin-left: -12px;
}

.pledge{
  float:right;
}

#closeButtonLeaderboard {
  width: 12px;
  padding-right: 8px;
  right: -40px;
  padding-bottom: 5px;
}

#efficiencyTips {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 110;
  opacity: 0;
  visibility: hidden;
}

.overlayBack {
  background: #FFF;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  opacity: .75;
}

#tipsContainer {
  position: relative;
  height:auto;
  min-height: 420px;
  width: 900px;
  top: 32px;
  margin: 0 auto;
  z-index: 51;
  border-bottom: 2px dotted #CCC;
}

#tipsHeader {
  height: 80px !important;
  margin-top: -65px; /* no idea why this hack is necessary */
  line-height: 140%;
  background: url(../img/starsTipsHeader.png) no-repeat top center;
}

#closeButtonTips {
  width: 14px;
  padding-right: 8px;
  right: -40px;
  padding-bottom: 10px;
}

#tipsSubhead {
  position: relative;
  background: #666;
  color: #FFF;
  margin: 0 auto;
  font-size: 15px;
  font-weight: normal;
  width: 510px;
  margin-top: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
  padding-bottom: 2px;
}

#tipsThreeSteps {
  width: 598px;
  float: left;
  border-right: 2px dotted #CCC;
  height: 300px;
  margin-top: 15px;
}

#tipsList {
  font-weight: bold;
  font-size: 20px;
  line-height: 350%;
}

#tipsDollarSign {
  font-size: 36px;
}

#tipsSavings {
  width: 300px;
  padding-top: 66px;
  float:right;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
}

#estimateHeader {
  font-size: 14px;
  margin-bottom: 4px;
}

#filterTipsText {
  font-size: 14px;
  margin-bottom: 5px;
}

.tipButton {
  background-color: #c1c1c1;
  font-weight: bold;
  color: #FFF;
  height: 35px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin-left: 10px;
  -webkit-transition: all .0625 ease-out;
  -moz-transition: all .0625 ease-out;
  -ms-transition: all .0625 ease-out;
  -o-transition: all .0625 ease-out;
  transition: all .0625 ease-out;
}

.tipButton:hover {
  background-color: #8b8b8b;
}

.tipButton:active {
  top: 1px;
}

.tipButtonClicked {
  background-color: #ea283a;
}

#buildingTypeFilter {
  font-weight: bold;
  font-size: 20px;
  color: #8b8b8b;
  position: relative;
  margin-left: 12px;
  top: 340px;
  z-index: 500;
}

.styledDropdown select {
   background: transparent;
   width: 200px;
   padding-left: 7px;
   font-size: 14px;
   font-weight: bold;
   color: #333;
   border: 1px solid #DDD;
   height: 34px;
   -webkit-appearance: none;
   -webkit-transition: all .125 ease-out;
   -moz-transition: all .125 ease-out;
   -ms-transition: all .125 ease-out;
   -o-transition: all .125 ease-out;
   transition: all .125 ease-out;
} 

.styledDropdown {
   width: 200px;
   height: 34px;
   overflow: hidden;
   background: url('../img/selectArrow.png') no-repeat right center #DDD;
}

.styledDropdown:hover {
   background: url('../img/selectArrow.png') no-repeat right center #BBB;
}

#neighborhoodConfirm {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #8b8b8b;
  position: relative;
  margin: 0 auto;
  top: 60px;
  z-index: 500;
  line-height: 140%;
}

#checkButton {
  position: relative;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 62px;
  left: 201px;
  top: -63px;
  background: #1ba7e0; /* Old browsers */
  background: -moz-linear-gradient(top,  #1ba7e0 0%, #11749c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ba7e0), color-stop(100%,#11749c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1ba7e0 0%,#11749c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1ba7e0 0%,#11749c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1ba7e0 0%,#11749c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1ba7e0 0%,#11749c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ba7e0', endColorstr='#11749c',GradientType=0 ); /* IE6-9 */
  -webkit-filter: brightness(115%);
  -moz-filter: brightness(115%);
  -ms-filter: brightness(115%);
  -o-filter: brightness(115%);
  filter: brightness(115%);
}

#checkButton:hover {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -ms-filter: brightness(100%);
  -o-filter: brightness(100%);
  filter: brightness(100%);
}

#checkButton:active {
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -o-filter: brightness(130%);
  filter: brightness(130%);
  /* override .25 second transition on click */
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.fourGreyStars {
  padding-top: 20px;
  text-align: center;
}

#loginNote {
  font-size: 15px;
  color: #BBB;
}

#socialLogin{
  position: absolute;
  width: 290px;
  height: 132px;
  z-index: 200;
  top: 50%;
  left: 50%;
  margin: -66px 0 0 -145px;
  border-style: solid;
  border-width: 2px;
  border-color: #ea283b;
  background-color: #FFF;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}

#socialLoginHeader {
  height: 55px;
}

#socialButtons {
  text-align: center;
}

#omgChromeFrame{
  position: absolute;
  width: 400px;
  height: 160px;
  z-index: 200;
  top: 50%;
  left: 50%;
  margin: -95px 0 0 -215px;
  border-style: solid;
  border-width: 2px;
  border-color: #ea283b;
  background-color: #FFF;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
}

#socialButtons a:hover {
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -ms-filter: brightness(60%);
  -o-filter: brightness(60%);
  filter: brightness(60%);
}


#aboutHeader::selection, #aboutCopy p::selection, #aboutCopy a::selection, #aboutCopy b::selection, #aboutCopy i::selection { background:#1ba7e1; color:#fff }
#aboutHeader::-moz-selection, #aboutCopy p::-moz-selection, #aboutCopy a::-moz-selection, #aboutCopy b::selection, #aboutCopy i::-moz-selection { background:#1ba7e1; color:#fff }

.overlayCopy::selection, .overlayCopy b::selection, .overlayCopy p::selection, .overlayCopy i::selection, .overlayCopy a::selection { background:#1ba7e1; color:#fff }
.overlayCopy::-moz-selection, .overlayCopy b::-moz-selection, .overlayCopy p::-moz-selection, .overlayCopy i::-moz-selection, .overlayCopy a::-moz-selection { background:#1ba7e1; color:#fff }



