$grey: rgb(96,96,96);
$dark_grey: rgb(48,48,48);
$light_grey: rgb(192,192,192);
$very_light_grey: rgb(240,240,240);

$orange: rgb(255,96,0);
$dark_orange: rgb(128,48,0);
$light_orange: rgb(255,192,0);
$very_light_orange: rgb(255,240,192);

$brown: rgb(128,64,0);
$dark_brown: rgb(64,32,0);
$light_brown: rgb(192,160,128);
$very_light_brown: rgb(240,232,224);

$blue: rgb(0,0,96);
$dark_blue: rgb(0,0,48);
$light_blue: rgb(0,96,192);
$very_light_blue: rgb(192,216,240);

$green: rgb(64,128,0);
$dark_green: rgb(32,64,0);
$light_green: rgb(96,192,0);
$very_light_green: rgb(216,240,192);
